
/* email */
.email-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Myriad Pro", bold;
}
.fondo-email {
    position: absolute;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.fondo-email img {
    min-height: 100vh;
}
.content-email {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background: rgba(181, 160, 160,0.4); */

}
.icon-email {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    transform: translateX(-5%);
}
.icon-email img {
    width: 80%;
}
.form-email {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.info-email {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vh;
}
.info-email h1 {
    color: white;
}
.info-email p {
    color: white;
}

.form-email form {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.datos-personales-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.datos-personales-form .name {
    width: 60%;
}
.datos-personales-form .subject {
    width: 40%;
}
.form-email form input {
    border: none;
    background: white;
    border-radius: 1.5vh;
    margin: 1vh;
    font-size: 1.7vh;
    padding: 1vh;
    outline: none;
}
::placeholder {
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
    color: rgb(210, 8, 102);
    font-size: 1.8vh;
}
.form-email form textarea {
    border: none;
    border-radius: 2vh;
    margin: 1vh;
    padding: 1vh;
    outline: none;
    height: 25vw;
    font-size: 1.7vh;
}
.form-email form .btn-enviar {
    border: none;
    border-radius: 2vh;
    margin: 1vh 1vh 0.2vh 1vh;
    background: rgb(210, 8, 102);
    padding: 1vh;
    font-size: 1.8vh;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.email-social_Media_Logos{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}
.email-social_Media_Logos img{
    width: 7%;  
}
.email-social_Media_Logos span{
    color: white; 
    font-size: 2.3vh;
}
.gif-email {
    z-index: 3;
}


/* responsive */
@media only screen and (min-width:640px ) and (max-width:1024px){
    .content-email img {
        width: 70vw;
    }
    .content-email form .btn-enviar {
        margin: 5% 0 15% 0;
        padding: 0.5rem;
    }
    .content-email form input {
        font-size: 1.8vh;
        padding: 0.3%;
    }
    .content-email form textarea {
        font-size: 1.8vh;
    }
    
    
}
@media only screen and (min-width:1024px){
    .content-email img {
        width: 60vw;
    }
    .content-email form {
        top: 8%;
    }
    .content-email form input {
        font-size: 2vh;
        padding: 0.4%;
    }
    .content-email form textarea {
        font-size: 2vh;
    }
    .content-email form .btn-enviar {
        margin: 5% 0 18% 0;
        padding: 1vh;
    }
}