
/* email */
.email-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Myriad Pro", bold;
}
.fondo-email {
    position: absolute;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.fondo-email img {
    min-height: 100vh;
    min-width: 100%;
    transform: translateX(-15%);
}
.content-email {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background: rgba(181, 160, 160,0.4); */

}
.icon-email {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    transform: translateX(-5%);
}
.icon-email img {
    width: 80%;
}
.form-email {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.info-email {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vh;
}
.info-email h1 {
    color: white;
    font-size: 5vh;
    padding: 1vh;
}
.info-email p {
    color: white;
}

.form-email form {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.datos-personales-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.datos-personales-form .name {
    width: 60%;
}
.datos-personales-form .subject {
    width: 40%;
}
.form-email form input {
    border: none;
    background: white;
    border-radius: 1vh;
    margin: 1vh;
    font-size: 1.7vh;
    padding: 0.8vh;
    outline: none;
}
::placeholder {
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
    color: rgb(210, 8, 102);
    font-size: 1.8vh;
}
.form-email form textarea {
    border: none;
    border-radius: 1vh;
    margin: 1vh;
    padding: 1vh;
    outline: none;
    height: 20vw;
    font-size: 1.7vh;
}
.form-email form .btn-enviar {
    border: none;
    border-radius: 2vh;
    margin: 1vh 1vh 0.2vh 1vh;
    background: #fbfbfb;
    padding: 1vh;
    font-size: 1.8vh;
    color: rgb(210, 8, 102);
    font-weight: bold;
    cursor: pointer;
}
.form-email form .btn-enviar:hover {
    background: rgb(210, 8, 102);
    border: 1px solid white;
    color: white;
}
.email-social_Media_Logos{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}
.email-social_Media_Logos img{
    width: 7%;  
}
.email-social_Media_Logos span{
    color: white; 
    font-size: 2.3vh;
}
.gif-email {
    z-index: 3;
}


/* responsive */
@media only screen and (min-width:640px ) and (max-width:992px){
    .fondo-email img {
        transform: none;
    }
    .content-email {
        padding-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        /* background: rgba(181, 160, 160,0.4); */
    
    }
    .icon-email {
        width: 50%;
        transform: none;
    }
    .icon-email img {
        width: 100%;
    }
    .form-email {
        width: 40%;
        height: 50%;
        display: flex;
    }
    .info-email {
        width: 90%;
    }
    .form-email form {
        width: 90%;
    }
    .form-email form textarea {
        height: 8vw;
    }
    
    
}
@media only screen and (min-width:993px){
    .fondo-email img {
        transform: none;
    }
    .content-email {
        padding-right: 10%;
        /* padding-top: 10%; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        /* background: rgba(181, 160, 160,0.4); */
    
    }
    .icon-email {
        width: 50%;
        height: 100%;
        transform: none;
    }
    .icon-email img {
        width: 90%;
    }
    .form-email {
        width: 40%;
        height: 50%;
        display: flex;
    }
    .info-email {
        width: 75%;
        padding-left: 2.5%;
    }
    .form-email form {
        width: 80%;
    }
    .form-email form textarea {
        height: 8vw;
    }
}