*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
footer {
    background-color: #0B0055;
    color: white;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;

}
.footer-description{
    justify-content: flex-start;
    width: 80%;
    padding: 1rem;
    font-size: 2vh;
}
.footer-description p{
    padding: 0.2rem;
    text-align: center;
}

.footer-img{
    margin-top: 2rem;
    width: 20%;
    display: flex;
    align-items: center;
}

.footer-Socia-Media{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.footer-social_Media_Logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-Socia-Media p{
    padding: 2rem 0rem;
}
.footer-social_Media_Logos img{
    width: 7%;
    
}
.footer-copyright{
    padding: 2vh 0;
    font-size: 1.5vh;
    text-align: center;
}


@media only screen and (min-width:640px ) and (max-width:992px){
    .footer-content{
        flex-direction: row;
        align-items: center;
    }
    .footer-description{
        width: 25%;
    }
    .footer-description p{
        text-align: left;
    }
    .footer-img{
        width: 10%;
    }
    .footer-Socia-Media{
        width: 25%;
    }
    .footer-social_Media_Logos img{
        width: 12%;
        
    }

}

@media only screen and (min-width:993px){
    .footer-content{
        flex-direction: row;
        align-items: center;
    }
    .footer-description{
        width: 25%;
    }
    .footer-description p{
        text-align: left;
    }
    .footer-img{
        width: 10%;
    }
    .footer-Socia-Media{
        width: 25%;
    }
    .footer-social_Media_Logos img{
        width: 10%;
        
    }
}