*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-fondo img {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 80%;
}
.image-fondo .imagenFondo img {
    transform: translateX(-1000px);
}
.button {
    background: blueviolet;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    margin: 2rem;
}
.button:focus.image-fondo img {
    width: 100%;
    position: absolute;
    transform: translateX(-200px);
    transition: 1s;
}

.items {
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}