*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color:  #161b21 ;
}

.honey{
    height: 35vh;
    background: rgb(61, 56, 56);
    position: absolute;
    bottom: 0;

}
.item{
    width: 12rem;
    height: 10rem;
    background-color: #fff;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    cursor: pointer;
    
}

.comb_1{
    display: grid;
    justify-content: center;
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem  ;
    grid-gap: 0rem 9rem;
    position: absolute;

}
.comb_2{
    display: grid;
    justify-content: center;
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem  ;
    grid-gap: 0rem 9rem;
    margin: 5rem 0 0 9.5rem ;
    position: absolute;
}

.comb_3{
    display: grid;
    justify-content: center;
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem  ;
    grid-gap: 0 9rem;
    margin: 10.1rem 0 0 0;
    position: absolute;
}
.comb_4{
    display: grid;
    justify-content: center;
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem  ;
    grid-gap: 0 9rem;
    margin: 15.2rem 0 0 9.5rem ;
    position: absolute;
}
.item:hover {
    background: #848484;
}