* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./fonts/MYRIADPRO-BOLD.OTF");
}

body {
  height: auto;
  display: flex;
  align-content: center;
  overflow-x:hidden ;
  flex-direction: column;
  }

.gallery-container{
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;

}

/* fondoss */
.fondo1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.fondo2 {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(1.3);
  transition: 2s;
  object-fit: cover;
}

.fondo3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(35, 0, 32, 0.8) 38%, rgba(88, 101, 197, 0.8) 100%);
}

.fondo1.scaleFondo {
  transform: scale(1.3);
  transition: 2s;
}
.fondo2.traslate {
  transform: scale(1);
  transition: all 2s linear;
}
.fondo2.reduce {
  width: 0;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-work{
  color: white;
  font-size: 5vh;
  padding: 3vh 0 0 0;
  font-family: "Myriad Pro", bold;
  -webkit-filter:drop-shadow(1vh 0.5vh 0.5vh rgba(0,0,0,0.5));
  filter:drop-shadow(1vhx 0.5vh 0.5vh rgba(0,0,0,0.5))
}

/* contenedor galería out titulo */
.container-content{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column-reverse;
}

/* Gallery videos */

.video-gallery{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-gallery iframe{
  width: 100%;
  height: 100%;
}
.mansory-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.grid-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-column-start:1 ;
  grid-column-end:2 ;
  grid-template-columns:  repeat(3, 1fr);
  grid-template-rows:  repeat(16,minmax(130px, 1fr));
  gap: 1vh 1vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* estilos barra scroll grid container */
/* Estilos para la barra de desplazamiento en WebKit */
.grid-container::-webkit-scrollbar {
  width: 0.5vh; /* Ancho de la barra de desplazamiento */
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: #FFFF; /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 0.5vh; /* Borde redondeado */
}

.grid-container::-webkit-scrollbar-track {
  background-color: #585857; /* Color de fondo de la barra de desplazamiento */
}

.video-item {
  position: relative; 
  overflow: hidden;
  cursor: pointer;
  transition: 450ms all;
}
.video-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-container:hover .video-item {
  opacity: 0.5;
}
.grid-container:hover .video-item:hover {
  transform: scale(1.1);
  opacity: 1;
  filter: contrast(100%) brightness(1.2);
  -webkit-filter:contrast(100%) brightness(1.2);
}

/* posicionamiento de los videos en la galeria */

.grid1{
  
  grid-column-start: 1;
  grid-column-end:3 ;
}
.grid2{
  
}
.grid3{
  
  grid-column-start: 1;
  grid-column-end: 2;

}

.grid4{
  
  grid-column-start: 2;
  grid-column-end: 4;
  
}
.grid5{
  
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:3 ;
  grid-row-end: 5;
}
.grid6{
  
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:3 ;
  grid-row-end: 4;
}

.grid7{
  
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start:3 ;
  grid-row-end: 4;
}
.grid8{
  
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.grid9{
  
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.grid10{
  
  grid-column-start: 1;
  grid-column-end:3 ;
}
.grid11{
  
  grid-column-start: 3;
  grid-column-end:4 ;
}
.grid12{
  
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid13{
  
  grid-column-start: 2;
  grid-column-end: 4;

}

.grid14{
  
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:7 ;
  grid-row-end: 9;
  
}
.grid15{
  
  grid-column-start: 2;
  grid-column-end: 3;
}
.grid16{
  
  grid-column-start: 3;
  grid-column-end: 4;
  
}

.grid17{
  
  grid-column-start: 2;
  grid-column-end: 3;
 
}
.grid18{
  
  grid-column-start: 3;
  grid-column-end: 4;
 

}

.grid19{
  
  grid-column-start: 1;
  grid-column-end:3 ;
}
.grid20{
  
  grid-column-start: 3;
  grid-column-end: 4;
}
.grid21{
  
  grid-column-start: 1;
  grid-column-end: 2;

}

.grid22{
  
  grid-column-start: 2;
  grid-column-end: 4;
 
  
}
.grid23{
  
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 13;
}
.grid24{
  
  grid-column-start: 2;
  grid-column-end: 3;
  
}

.grid25{
  
  grid-column-start: 3;
  grid-column-end: 4;
 
}
.grid26{
  
  grid-column-start: 2;
  grid-column-end: 3;
 

}

.grid27{
  
  grid-column-start: 3;
  grid-column-end: 4;
 
}
.grid28{
  
  grid-column-start: 1;
  grid-column-end: 3;
 

}
.grid29{
  
  grid-column-start: 3;
  grid-column-end: 4;
 
}
.grid30{
  
  grid-column-start: 1;
  grid-column-end: 2;
 

}
.grid31{
  
  grid-column-start: 2;
  grid-column-end: 4;
 
}
.grid32{
  
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:15 ;
  grid-row-end: 17;
 

}
.grid33{
  
  grid-column-start: 2;
  grid-column-end: 3;
  
 
}
.grid34{
  
  grid-column-start: 3;
  grid-column-end: 4;
 
 

}
.grid35{
  
  grid-column-start: 2;
  grid-column-end: 3;
 
}
.grid36{
  
  grid-column-start: 3;
  grid-column-end: 4;
 
}


@media only screen and (min-width:640px ) and (orientation: landscape){
  .title {
    width: 100%;
    height: 20vh;
  }
  .container-content{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .mansory-container{
    width: 45%;
    height: 100%;
  }
  .grid-container{
    width: 100%;
    height: 90%;
  }
  .video-gallery{
    width: 45%;
    height: 100%;
  }
  .video-gallery iframe{
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width:1024px){

}



@media only screen and (min-width:1024px ) and (max-width:1440px) and (min-height:768px) and (orientation: landscape){

}

@media only screen and (max-width:639px){
  
  .grid-container::-webkit-scrollbar {
    width: 1.5vw; /* Ancho de la barra de desplazamiento */
  }
  
}
