* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.prueba{
  width: 100%;
  height: 700px;
  background-color: yellow;
}
body {
  height: auto;
  display: flex;
  align-content: center;
  overflow-x:hidden ;
  flex-direction: column;
  }

.gallery-container{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, rgba(35, 0, 32, 0.8) 38%, rgba(88, 101, 197, 0.8) 100%), url('../assets/Galeria/melissa_Wild.png');
  background-size: cover;

}
.grid-container{
  display: grid;
  width: 100%;
  height: 50vh;
  grid-column-start:1 ;
  grid-column-end:2 ;
  grid-template-columns:  repeat(3, 1fr);
  grid-template-rows:  repeat(6,minmax(130px, 1fr));
  gap: 1vh 1vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* estilos barra scroll grid container */
/* Estilos para la barra de desplazamiento en WebKit */
.grid-container::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: #5058A0; /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 5px; /* Borde redondeado */
}

.grid-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}

.video-item {
  position: relative; 
  overflow: hidden;
  cursor: pointer;
  transition: 450ms all;
}
.video-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-container:hover .video-item {
  opacity: 0.5;
}
.grid-container:hover .video-item:hover {
  transform: scale(1.1);
  opacity: 1;
  filter: contrast(100%) brightness(1.2);
  -webkit-filter:contrast(100%) brightness(1.2);
}

.grid1{
  background-color: red;
  grid-column-start: 1;
  grid-column-end:3 ;
}
.grid2{
  background-color: green;
}
.grid3{
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 2;

}

.grid4{
  background-color: antiquewhite;
  grid-column-start: 2;
  grid-column-end: 4;
  
}
.grid5{
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:3 ;
  grid-row-end: 5;
}
.grid6{
  background-color: aqua;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:3 ;
  grid-row-end: 4;
}

.grid7{
  background-color: blue;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start:3 ;
  grid-row-end: 4;
}
.grid8{
  background-color: blueviolet;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.grid9{
  background-color: yellowgreen;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}


/* Gallery videos */

.gallery-videos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.video-gallery{
  display: flex;
  justify-content: center;align-items: center;
  /* background-color: rgba(236, 62, 184, 0.4); */
  height: 100%;
  width: 100%;
}
.video-gallery iframe{
  height: 80%;
}

@media only screen and (min-width:640px ) and (orientation: landscape){
  .gallery-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .grid-container{
    width: 30%;
    height: 90vh;
  }
  .gallery-videos{
    width: 45%;
    height: 100vh;
  }
  .video-gallery img{
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width:1024px){

}



@media only screen and (min-width:1024px ) and (max-width:1440px) and (min-height:768px) and (orientation: landscape){

}

@media only screen and (max-width:639px){
  
  .grid-container::-webkit-scrollbar {
    width: 1.5vw; /* Ancho de la barra de desplazamiento */
  }
  
}
