* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    
}


@font-face {
    font-family: "Futura Heavy BT";
    src: url("./fonts/futura-heavy-bt.ttf");
}

@font-face {
    font-family: "Futura Light BT";
    src: url("./fonts/futura-light-bt.ttf");
}


body {
    
    font-style: normal;
    font-weight: normal;
    /* font-size: 1rem; */
}

/* Estilos container Nuevo */

.grid-about{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(84, 96, 185,1) 46%, rgba(35,0,32,0.9) 76%);
    position: relative;
}

.images-about{
    width: 100%;
    height: 45%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.images-about-container{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 80%;
}
.image{
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1s all ease-in-out;
}

.images-about-container::before {
    content: ''; /* Crea un pseudo-elemento para aplicar la sombra */
    position: absolute;
    z-index: 4; /* Ajusta el z-index para que sea mayor que el de la imagen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 5vh 4vh rgba(84, 96, 185,1);
    -moz-box-shadow: inset 0 0 5vh 4vh rgba(84, 96, 185,1);
    box-shadow: inset 0 0 5vh 4vh rgba(84, 96, 185,1);
}
.images-about-text{
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    color: white;
    padding: 2vh 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.images-about-text h1{
    font-family: "Orbitron", sans-serif;
    font-size: 4.5vh;
}
.images-about-text p{
    font-family: "Futura Light BT";
    font-size: 2vh;
    font-weight: lighter;
    text-shadow: 2px -1px 6px black;
}

.images-about-text li{

    transform: translateX(5%);
    list-style: none;
    font-size: 2vh;
    text-shadow: 2px -1px 6px black;
    /* list-style-image: url("../assets/LogoFooter.svg"); */
}

.images-about-text ul li::before {
    content: url("../assets/Vineta.svg");  
    display: inline-block; 
    padding-right: 20px;
    font-size: 50px;
    line-height: 0.6rem;
    vertical-align: -1px;
    width: 1.5vh;
}
/* .items-about{

    height: 55%;
    width: 100%;
} */

.vin-gifs{
    display: flex;
    justify-content: flex-end;
    /* margin-top: 3rem; */
    font-size: 3vh;
    font-family: "Futura Light BT";
    background: rgba(0,0,0,0.1);
    padding: 0 2vh;
}

/* Estilo para el contenido de <details> */
details {
    overflow-y: auto; /* Agrega desplazamiento vertical */
    /* max-height: calc(100vh - 200px); */
    background-color: transparent; /* Establece el fondo transparente */
    border:none; /* Borde */
    z-index: 100; /* Ajusta el z-index para que esté sobre otros elementos */
    color: white; /* Color del texto */
    cursor: pointer;
  }

    /* Definición de la animación */
@keyframes fade-in {
    from {
      opacity: 0; /* Opacidad inicial */
    }
    to {
      opacity: 1; /* Opacidad final */
    }
  }


  .fade-in{
    animation: fade-in 3s;
  }
  details[open] {
    display: flex;
    width: 100%;
    overflow-x: hidden;

    }
/* 
.myDetails[open] ul {
    animation: fade-in 3s; 
    } */

  summary{
    font-size: 2vh;
    text-shadow: 2px -1px 6px black;
  }

  details summary::marker {
    content: " ";
    color: white;
    font-size: 2vh;
  }

  .responsive-margin{
    margin-top: 14vh !important;
  }




.title-gif {
    background: rgba(0,0,0,0.1);
    padding: 0 2vh;
    transition: 0.5s all ease;
}
.title-gif.visible {
    opacity: 0;
    transform: translateY(-15%);
}
.desc-gif{
    background: rgba(0,0,0,0.1);
    padding: 0 2vh;
    transition: 0.5s all ease;
}
.desc-gif.visible {
    opacity: 0;
    transform: translateY(-15%);
}
.image.gif-scale {
    opacity: 0;
    /* transform: scale(0); */
    /* transition: opacity 3s ease; */
}

.images-about-text p{
    text-align: right;
}




/* hexagon */

.honey {
    width: 100%;
    height: 55vh; 
    /* background: #230020; */
    position: absolute;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_honey {
    width: 100%;
    max-width: 100vw;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    grid-template-columns: repeat(5, 3vh);
    grid-auto-rows: 6vh;
    grid-gap: 0rem 7.5vh;
    transform: scale(1.4);
}

.item{
    background-color:#EDEDED;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: 450ms all;
    grid-column: span 2;
    height: 11vh;
    position: relative;
    font-family: "Futura Heavy BT";
}
.item:nth-of-type(3) {
    grid-column: 2 / span 2;
}
.item:nth-of-type(5) {
    grid-column: 1 / span 2;
}
.item:nth-of-type(7) {
    grid-column: 2 / span 2;
}
.item:nth-of-type(9) {
    grid-column: 1 / span 2;
}
.item:nth-of-type(11) {
    grid-column: 2 / span 2;
}
.item:nth-of-type(13) {
    grid-column: 1 / span 2;
}
.item:nth-of-type(15) {
    grid-column: 2 / span 2;
}

.item img {
    width: 100%;
    height: 100%;
    position: absolute;
}
.item-normal {
    opacity: 0;
}
.item-medium {
    opacity: 0;
}
.item-transparent {
    opacity: 0;
}
.item-image{
    cursor: pointer;
    transition: 450ms all;
    opacity: 0.52;
    font-size: 1.3vh;
    text-align: center;
    color: #1B1464;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
}
.item-image:hover,
.item-image.active {
    opacity: 0.68;
    z-index: 2;
}

/* .honey:hover .item-image{
    opacity: 0.5;
} */

.honey .item-image.clicked,
.honey:hover .item-image:hover {
    transform: scale(1.05);
    opacity: 1;
    -webkit-filter: contrast(100%) brightness(1.2);
    filter: contrast(100%) brightness(1.2);
}

.item-image .play-bottom {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-image .play-bottom img {
    width: 30%;
    height: auto;
    transform: translateX(10%);
}

.item-image .play-bottom:hover {
    opacity: 0.85;
    transition: 500ms opacity;

}



/* -----------------RESPONSIVE DESING---------------- */

@media only screen and (min-width:640px ) and (orientation: landscape){

    .grid-about{
        flex-direction: row-reverse;
        background: rgb(35,0,32);
        background: linear-gradient(90deg, rgba(35,0,32,1) 38%, rgba(88,101,197,1) 100%);


        
        
    }
    .images-about{
        width: 71%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .images-about-container::before {
        box-shadow: none;
        -webkit-box-shadow: 0px 0px 100px 0px rgba(35,0,32,0.8) inset;
        -moz-box-shadow: 0px 0px 100px 0px rgba(35,0,32,0.8) inset;
        box-shadow: 0px 0px 100px 0px rgba(35,0,32,0.8) inset;
        background-image: linear-gradient(90deg, rgba(35,0,32,1), transparent 40%, rgba(88,101,197,0.5));
        
    }
    .images-about-container{
        height: 100%;
    }
    .title-gif{
        text-align: right;
    }
    .desc-gif{
        text-align: right;
    }
    .images-about-text{
        padding: 4% 10% 6% 31%;
    }
    .images-about-text h1{
        font-size: 6vh;
    }
    .images-about-text p{
        font-size: 3vh;
    }
    .item.item-image h1{
        font-size: 5.2vh;
    }
    .images-about-text li{
        font-size: 3vh;
    }
    summary{
        font-size: 2.5vh;
    }

    .honey{
        width: 55%;
        position: absolute;
        height: 100%;
        left: 0;
    }
    .content_honey{
        height: 100%;
        grid-template-columns: repeat(5, 8vh);
        grid-auto-rows: 13vh;
        left: -21vh;
        grid-gap: 4.5vh 21vh;
        z-index: 10;
        padding: 0 35% 5% 0;
        transform: none;

    }
    .item{
        height: 33vh;
    }
    .item-normal {
        opacity: 0.19;
    }
    .item-medium {
        opacity: 0.31;
    }
    .item-transparent {
        opacity: 0.1;
    }

}

@media only screen and (min-width:1024px){
    /* .grid-about{
        flex-direction: row-reverse;
        
    } */
}



/* @media only screen and (max-width:768px ) and (min-height:1024px) and (orientation: portrait){
} */


@media only screen and (min-width:1024px ) and (max-width:1440px) and (min-height:768px) and (orientation: landscape){
    .content_honey{
        grid-template-columns: repeat(5, 8vh);
        grid-auto-rows: 13vh;
        grid-gap: 4.5vh 21vh;
        left: 5px;

    }

}

@media only screen and (max-width:639px){
    .img1{
        content: url('../assets/Nosotros/Celular_Motion-min.png');
    }
    .img2{
        content: url('../assets/Nosotros/Celular_VFX-2-min.png');
    }
    .img3{
        content: url('../assets/Nosotros/Celular_Motion-min.png');
    }
    .img4{
        content: url('../assets/Nosotros/Celular_VFX-min.png');
    }
}

/* @media only screen and (min-width:1440){
    .content_honey{
        left: 40px;
    }
} */