* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-nosotros {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    z-index: 3;
    background: white;
    color: white;
}

/* Fondo en CSS */
.fondo-nosotros {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #8B078F 0%, #5865C5 50%, #24C7FE 100%);
}
.fondo-nosotros img {
    height: 100%;
    z-index: -1;
}
.fondo-nosotros_1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 8%);
    grid-auto-rows: 14vh;
    gap:0 10%;
    position: absolute;
}
.fondo-item {
    grid-column: span 2;
}
.fondo-item:nth-of-type(3) {
    grid-column: 2 / span 2;
}
.fondo-item:nth-of-type(5) {
    grid-column: 1 / span 2;
}
.fondo-item:nth-of-type(7) {
    grid-column: 2 / span 2;
}
.fondo-item:nth-of-type(8) {
    grid-column: 1 / span 2;
}
.fondo-item:nth-of-type(9) {
    grid-column: 2 / span 2;
}
.fondo-item:nth-of-type(11) {
    grid-column: 5 / span 2;
}
.fondo-nosotros .fondo-nosotros_1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.content-nosotros {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-nosotros {
    width: 100%;
    max-width: 320px;
    max-height: 256px;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background: rgba(255, 255, 255,0.2); */
}
.image-nosotros img {
    cursor: pointer;
    -webkit-filter:drop-shadow(10px 4px 6px rgba(0,0,0,0.5));
    filter:drop-shadow(10px 4px 6px rgba(0,0,0,0.5))
}
.image-nosotros img:hover {
    opacity: 0.7;
    transform: scale(1.15);
    transition: 3s transform cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 10;
    filter: invert(100%) contrast(300%) hue-rotate(90deg)  brightness(2.4);
    -webkit-filter: invert(100%) contrast(300%) hue-rotate(90deg)  brightness(2.4);

}
.graphics {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    transform: translateY(50%);
}
.graphics img {
    height: 100%;
    max-width: 50%;
}
.cinematics-home {
    width: 100%; 
    height: 30%;
    display: flex;
    justify-content: space-evenly;
}
.cinematics, .home-item, .arquitect {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.cinematics {
    transform: translateX(30%);
}
.arquitect {
    transform: translateX(-30%);
}
.home-item {
    transform: translateY(50%);
}
.cinematics img, .animation-2d img, .animation-3d img, .home-item img, .arquitect img {
    max-width: 100%;
}
.animation-2d-3d {
    width: 100%;
    height: 30%;
    display: flex;
}
.animation-2d {
    width: 50%;
    height: 100%;
    transform: translateX(27%);
    display: flex;
    justify-content: flex-start;
}
.animation-3d {
    width: 50%;
    height: 100%;
    transform: translateX(-27%);
    display: flex;
    justify-content: flex-end;
}
.text-nosotros {
    width: 100%;
    height: 60%;
    display: flex;
    order: -1;
    /* background: rgba(51, 45, 47,0.3); */
}
.text-description {
    width: 100%;
    padding: 1% 1rem 0 1rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: none;
    
}
.text-gifs {
    transition: 0.5s transform ease;
}
.text-gifs h1 {
    transition: 0.5s all ease;
    margin-bottom: 2vh;
}
.title-gif.visible {
    opacity: 0;
    transform: translateY(-15%);
}
.desc-gif{
    padding-bottom: 3vh;
    transition: 0.5s transform ease;
}
.desc-gif.visible {
    opacity: 0;
    transform: translateY(-15%);
}
.vin-gifs{
    font-size: 2.5vh;
    padding-bottom: 2%;
    transition: 0.5s transform ease;
}
.vin-gifs.visible {
    opacity: 0;
    transform: translateY(-15%);
}

.gif-image {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s transform ease;
}
.gif-image.gif-scale {
    opacity: 0;
    transform: scale(0);
}
.gif-image img{
    align-self: center;
    height: auto;
    width: 50%;
    max-width: 220px;
}
.text-description p {
    padding-right: 8%;
    
    font-size: 2.5vh;
    
}
.text-description li ,.muchmore{
    
    transform: translateX(5%);
    list-style: none;
    /* list-style-image: url("../assets/LogoFooter.svg"); */
}
.muchmore {
    padding: 1vh 0;
}
.text-description ul li::before {
    content: url("../assets/Vineta.svg");  
    display: inline-block; 
    padding-right: 20px;
    font-size: 50px;
    line-height: 1rem;
    vertical-align: -1px;
    width: 2vh;
}

/* responsive */

@media only screen and (min-width:640px ) and (max-width:992px){
    .content-nosotros {
        flex-direction: row;
    }
    .fondo-nosotros_1 {
        width: 50%;
    }
    .image-nosotros {
        width: 52%;
        max-width: none;
        max-height: none;
        height: 100%;
        padding: 0 3%;
    }
    .graphics {
        padding: 2%;
        height: 25%;
        transform: none;
        /* background: rgb(150, 93, 150,0.4); */
    }
    .cinematics-home {
        height: 30%;
        /* background: rgb(100, 193, 150,0.4); */
    }
    .cinematics {
        align-items: flex-end;
        transform: none;
    }
    .arquitect {
        transform: none;
    }
    .cinematics img {
        height: 100%;
    }
    .home-item {
        height: 75%;
        justify-content: flex-start;
        padding-left: 2%;
        transform: none;
    }
    .animation-2d-3d {
        height: 35%;
        /* background: rgb(150, 93, 50,0.4); */
    }
    .animation-2d {
        width: 42%;
        padding: 4% 2%;
        transform: none;
        /* background: rgb(68, 59, 68,0.4); */
        justify-content: center;
    }
    .animation-2d img {
        height: 100%;
    }
    .animation-3d {
        width:47%;
        transform: translateX(2%);
        /* background: rgb(168, 59, 68,0.4); */
        justify-content: flex-start;
        
    }
    .animation-3d img {
        height: 85%;
    }
    .text-nosotros {
        width: 48%;
        padding: 0 8% 0 0;
        height: 100%;
        order: 1;
        
    }
    .text-description {
        font-size: 2.25vh;
        padding: 15% 1vh 0 1vh;
    }
    .text-description img{
        height: auto;
        width: 80%;
        max-width: 100%;
    } 
    
}
@media only screen and (min-width:992px){
    .content-nosotros {
        flex-direction: row;
    }
    .fondo-nosotros_1 {
        width: 50%;
    }
    .image-nosotros {
        width: 48%;
        max-width: none;
        max-height: none;
        height: 100%;
        padding: 0 3%;
    }
    .graphics {
        padding: 2%;
        height: 25%;
        transform: none;
        /* background: rgb(150, 93, 150,0.4); */
    }
    .graphics img {
        height: 100%;
    }
    .cinematics-home {
        padding: 3% 3%;
        height: 30%;
        /* background: rgb(100, 193, 150,0.4); */
    }
    .cinematics {
        align-items: flex-end;
        transform: none;
    }
    .arquitect {
        transform: none;
    }
    .home-item {
        height: 75%;
        padding-left: 2%;
        transform: none;
    }
    .animation-2d-3d {
        height: 35%;
        /* background: rgb(150, 93, 50,0.4); */
    }
    .animation-2d {
        width: 42%;
        padding: 4% 2%;
        transform: none;
        /* background: rgb(68, 59, 68,0.4); */
        justify-content: center;
    }
    .animation-2d img {
        height: 100%;
    }
    .animation-3d {
        width:47%;
        transform: translateX(2%);
        /* background: rgb(168, 59, 68,0.4); */
        justify-content: flex-start;
        
    }
    .animation-3d img {
        height: 85%;
    }
    .text-nosotros {
        width: 52%;
        padding: 0 8% 0 0;
        height: 100%;
        order: 1;
        
    }
    .text-description {
        font-size: 2.25vh;
        padding: 15% 1vh 0 1vh;
    }
    .text-description img{
        height: auto;
        width: 50%;
        max-width: 100%;
    }  
    
}
