@font-face {
    font-family: "Myriad Pro";
    src: url("./fonts/MYRIADPRO-BOLD.OTF");
}
@font-face {
    font-family: "Myriad Pro light";
    src: url("./fonts/MyriadPro-Light.otf");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
  

    /* font-size: 1rem; */
    
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}


body::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 20px;    /* Tamaño del scroll en horizontal */
    position: absolute;
    transform: translateX(1rem);
}
body::-webkit-scrollbar:hover {
    
    display: block;
}
body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: white;
}

body::-webkit-scrollbar-thumb{
    background: rgb(190, 183, 183);
    border-radius: 4px;

}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #514e52;
    box-shadow: 0 0 2px 1px rgba(49, 49, 49, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:hover {
    background-color: #514e52;
}

.header {
    position: relative;
    padding-bottom: 84.375%;
    height:0;
    width:100%;
    overflow: hidden;
    z-index: 2;
}
.header-video video {
    position: absolute;
    top:0;
    left: 0;
    width: 150%;
    height: 100%;
    transform: translateX(-20%);
    overflow-x: hidden;
    /* display: none; */
}
.header-video > video {
    object-fit: cover;
}
.header-franja img {
    position: absolute;
    top:0;
    left: 0;
    width: 30.7%;
    z-index: 1;
}

.header-franja #franja {
    position: absolute;
    top:0;
    left: -3%;
    width: 30%;
    transform: scaleX(0.7) translateX(-22%);
}
.header-franja #logo {
    position: absolute;
    top:4%;
    left: 3%;
    width: 6%;
    height: 22%;
}
.footer-social_video{
    position: fixed;
    bottom: 3vh;
    right: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 5vh;
    z-index: 7;
}
.footer-social_video.inactive {
    pointer-events: auto;
    opacity: 0;
    z-index: -2;
}
.footer-social_video a {
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
}
.footer-social_video img{
    width: 80%;
    
}

/* Franja derecha */
.franja-derecha {
    width: 6%;
    /* background: #fc00ff; */
    position: absolute;
    padding-bottom: 84.375%;
    overflow: hidden;
    top:0;
    right: 0;
    z-index: 6;
}
.franja-derecha img {
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    min-height: 1000px;
    /* width: 14.36%; */
    /* transform: translate(30%) rotate(-2.5deg); */
    transform: translate(30%) scaleX(0.4);
    /* display: none; */
}

.franja-derecha > img {
    object-fit: cover;
}

/* menú */

.header-nav {
    position: absolute;
    top:0;
    right: 0;
    width: 35%;
    height: 50vh;
    min-width: 2rem;
    min-height: 2rem;
    z-index: 7;
    /* background-color: rgba(136, 78, 207, 0.6); */
} 
.nav__toggle {
    position: absolute;
    top:8%;
    right: 10%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.nav_checkbox {
    display: none;
}
.nav__toggle i {
    color: white;
}

.close {
    display: none;
}

.nav__menu {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    margin-right: 5rem;
    margin-top: 4rem;
    flex-wrap: wrap;
    transition: with 1s;
}

.options {
    list-style: none;
    display: none;
    outline: none;
    z-index: 1;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav__menu a {
    text-decoration: none;
    color: inherit;
    font-size: 1.8vh;
    width: 6rem;
}
.nav__menu a:hover {
    color: white;
    background-color: rgba(197, 197, 197,0.6);
}
/* #nav_checkbox:checked ~ ul.nav__menu li{
    display: block;
}
#nav_checkbox:checked ~ label.nav__toggle .close {
    display: block;
}
#nav_checkbox:checked ~ label.nav__toggle .menu {
    display: none;
}

#options:focus ~ .options{
    display: none;
} */
.options.visible-Menu {
    display: block;
}

/* boton back to-top */

.to-top {
    background: white;
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 2vh;
    pointer-events: auto;
    opacity: 1;
    z-index: 7;
}

.to-top:hover {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    border: white solid 3px;
    color: white;
}

/* responsive */

@media only screen and (min-width:640px ) and (max-width:1024px){
    
    .nav__toggle {
        display: none;
    }
    .header-nav {
        background: transparent;
        width: 70%;
    }
    .nav__menu {
        gap: 1.2rem;
        flex-direction: row;
        margin-left: 5rem;
        margin-top: 6rem;
        justify-content: center;
    }
    
    .nav__menu a {
        padding: 0.5rem 1rem;
        border: white solid 0.1rem;
        border-radius: 3px;
        background-color: rgba(9, 9, 9, 0.5);
    }
    .nav__menu li {
        display: block;
    }
    .header-franja #franja {
        width: 20.7%;
        transform: none;
    }

    .header {
        padding-bottom: 56.25%;
    }
    .header-video video {
        width: 100%;
        height: 100%;
        transform: none;
    }
    .footer-social_video{
        bottom: 2.5vh;
        right: 9vh;
        width: 25vh;
        height: 5vh;
    }
    .footer-social_video img{
        width: 80%;
        
    }    
}
@media only screen and (min-width:1024px){
    .nav__toggle {
        display: none;
    }
    .header-nav {
        background: transparent;
        width: 70%;
    }
    .nav__menu {
        gap: 1.5rem;
        flex-direction: row;
        margin-left: 5rem;
        margin-top: 6rem;
        justify-content: center;
    }
    .nav__menu a {
        padding: 0.5rem 2rem;
        border: white solid 0.1rem;
        border-radius: 3px;
        background-color: rgba(14, 12, 12, 0.5);
    }
    .nav__menu li {
        display: block;
    }
    .header-franja #franja {
        width: 20%;
        transform: none;
    }

    .header {
        padding-bottom: 56.25%;
    }
    .header-video video {
        width: 100%;
        height: 100%;
        transform: none;
    }
    .footer-social_video{
        bottom: 2.5vh;
        right: 9vh;
        width: 25vh;
        height: 5vh;
    }
    .footer-social_video img{
        width: 80%;
    }
}

@media only screen and (min-width:1400px){
    .to-top {
        width: 5vh;
        height: 5vh;
    }
}